$color:orange;
$color:red !default;
$attr:width;
$url:'1.jpg';
body{
    // background: $color;
    color:green;
    #{$attr}:800px;
    height:300px;
    background: $color url(#{$url}) 0 0 no-repeat;
    #app{
        color:pink
        h2{
            width:800px;
        }
        p{
            height:300px;
            padding:{
                top:20px;
                bottom:20px;
            }
            &:hover{
                color:blue;
            }
        }

    }
}






