body{
    padding: 0;
    margin: 0;
    background: rgba(218, 102, 218, 0.3);
}
p{
   width: 300px;
   height: 50px;
   margin: 30px auto;
   font-size:35px;
}
.left{
    width: 40%;
    height: 480px;
    background: rgba(192, 9, 192,0.3);
    border: 1px solid rgba(192, 9, 192,0.8);
    border-radius: 4%;
    float:left;
    margin-left:80px;
    padding-top:20px;
}
.right{
    width: 40%;
    height: 480px;
    background: rgba(192, 9, 192,0.3);
    border: 1px solid rgba(192, 9, 192,0.8);
    border-radius: 4%;
    float:left;
    margin-left:80px;
    padding-top:20px;
}
span{
    width: 100px;
    height: 50px;
    font-size:25px;
    margin-left:200px;
}
