<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test</h1>
    <div>this is a test page</div>
    <% good.forEach(function(data,index){ %>
        序号<%= index%>:<li><%= data%></li>
    <% })%>
</body>
</html>